nav {
 border-style: none;
 
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

label{
    margin: 10px 0;
}

input, textarea{
    margin: 5px 0;
    padding: 5px;
    width: 300px;
}

button{
padding: 8px;
background-color: blueviolet;
border: 1px solid;
color: white;
font-family: Arial, sans-serif;
cursor: grabbing;
border-radius: 5px;
box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}

button:hover{
    background-color: transparent;
}