header {
    background-color: transparent;
    border-style: outset;
    border-color: blueviolet;
    border-radius: 20px;
    width: auto;
    margin: none;
    padding: 10px;
}
body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 20px;
background: url("Spiral-Nebula.jpg") no-repeat fixed center;
background-size: 100%;
}
nav {
    padding: 10px;
    display: flex;
    justify-content: center;
    word-spacing: 400px;
}

nav a {
    background-color: transparent;
    color: blueviolet;
    text-decoration: none;
    font-size: larger;
    

}

nav a:hover {
    background-color: transparent;
    color: blueviolet;
    text-decoration: underline;
    cursor: -moz-grabbing;
}


body {
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

footer {
    display: table;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: underline;
    text-decoration-color: blueviolet;

}

iframe {
    width: 95%;
    height: -50px;
    padding: 10px;
    border-style: none;
    border-radius: 30px;
}
