body {
    background-color: transparent;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: none;
background: url("Spiral-Nebula.jpg") no-repeat fixed center;
background-size: 100%;
}
h2 {
    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
}

footer {
    text-decoration-line: underline;
    text-decoration-color: blueviolet;
    width: 100%;
    background-color: black;
    position: 40px;
    bottom: 0;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 33.5s linear infinite;
}

header {
    background-color: transparent;
    border-style: outset;
    border-color: blueviolet;
    border-radius: 20px;
    width: auto;
    margin: none;
    padding: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

nav {
    padding: 10px;
    display: flex;
    justify-content: center;
    word-spacing: 400px;
}

nav a {
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: larger;
    

}

nav a:hover {
    background-color: transparent;
    color: white;
    text-decoration: underline;
    cursor: -moz-grabbing;
}

section {
    margin: 40px;
    background-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: move 35s linear infinite;
    
}

@keyframes move {
    to {
        background-position: 4500vh;
    }

}
